*{ margin: 0; padding: 0; box-sizing: border-box;}

#up_bar{
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBF9F6;
    opacity: 0.8;
    background-image: linear-gradient(0deg, #FBF9F6 50%, #C8B58D 50%);
    background-size: 5px 5px;
}
.block{
    height: 16vh;
    width: 26vw;
    background-color: #FBF9F6;
    /*border: 2px solid #D8CAAE;*/
    border: 2px solid #79643A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titlecontact{
    font-size: 60px;
    font-family: Coronet;
    text-align: center;
    padding-right: 16px;
}

#two_lines{
    height: 7vh;
    width: 100vw;
    overflow: hidden;
    background-color: #D8CAAE;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breaking_news{
    height: 8vh;
    width: 110vw;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #FBF9F6;
    border: 1px solid #D8CAAE;
    text-align: justify;
}
#scroll-text{
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 28s linear infinite;
}

#mainzone{
    height: 72vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.zone{
    height: 73vh;
    width: 60vw;
    border-top: 2px solid #D8CAAE;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F3EEE6;
    border-left: 2px solid #D8CAAE;
}
#zoneads{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }


/* MEDIA QUERIES */
@media screen and (max-width:767px){
    #info_gauche,#info_droit,#two_lines,#zonebn,#zoneads{
      display: none;
    }
    #zonethks{
      height: 80vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #titlecontact{
      padding-right: 12px;
      height: 16vh;
      width: 48vw;
    }
}